@model IEnumerable<InterviewMVCProject.Models.Player>

@{
    ViewData["Title"] = "List of Players"; 
}
<h1>Player List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Player ID</th>
            <th>Name</th>
            <th>Money Amount</th>
            <th>Class</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.PlayerId</td>
                <td>@player.Name</td>
                <td>@player.MoneyAmount</td>
                <td>@player.Class</td>
                @* <td>@player.Items.First()</td> *@
                <td>
                    <a asp-action="Details" asp-route-id="@player.PlayerId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New Player</a>
</p>